/*****
Main CSS for Portal
*****/

/****
Fonts
*****/

h1, h2, h3, h4, h5 {
	font-family: 'Maven Pro', sans-serif;
	color: #394345;
}

/****
Body styles
*****/

.page-content {
	margin-top: 30px;
}

.page-header {
	margin-top: 0px;
	text-align: right;
}

.page-header h1 {
	line-height: 26px;
}

.page-header h1 small {
	font-size: 18px;
}

.btn {
	border-radius: 0px;
	-moz-border-radius: 0px;
	-webkit-border-radius: 0px;
	-ms-border-radius: 0px;
	-o-border-radius: 0px;
	font-family: 'Maven Pro', sans-serif;
	font-weight: 500;
}

.header-btn {
	margin-top: 20px;
}

.white {
	color: #ffffff;
}

.red {
	color: #e84e45;
}

.upper-badge {
	vertical-align: top;
}

/****
Activation styles
*****/

.activation-body {
	padding-top: 200px;
	background: #e84e45;
}

h2.welcome-note {
	color: #ffffff;
}

#confirm-details {
	padding-top: 20px;
	margin-top: 30px;
	border-top: 2px solid #ffffff;
	width: 70%;
	display: none;
	padding-bottom: 50px;
}

#confirm-details-row {
	margin-bottom: 30px;
}

.activation-body h3 small {
	color: #ffffff;
}

.activation-result {
	display: none;
}

.confirmation-container {
	display: none;
}

/****
Login styles
*****/
.login-body {
	min-height: 100%;
	display: block;
 	background: #ffffff;  
}

#login_result {
	width: 100%;
	display: block;
	padding-bottom: 12px;
}

#login_result span {
	font-family: 'Maven Pro', sans-serif;
	font-weight: 700;
}

.input-group {
	margin-bottom: 12px;
	border: 1px solid #ccc;
}

.input-group-addon {
	background-color: transparent;
	border: none!important;
}

.form-signin input[type="text"] {
    border-bottom-left-radius: 0;
    border-bottom-right-radius: 0;
    background-color: transparent;
}

.form-signin input[type="password"] {
    border-top-left-radius: 0;
    border-top-right-radius: 0;
}

.form-signin .form-control {
    position: relative;
    font-size: 16px;
    font-family: 'Maven Pro', sans-serif;
    font-weight: 500;
    height: auto;
    padding: 10px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    background-color: transparent;
    border: none!important;
}

.vertical-offset-100 {
    padding-top: 100px;
}

.img-responsive {
	display: block;
	max-width: 100%;
	height: auto;
	margin: auto;
}

.login-panel .panel-heading {
	background-color: transparent;
	padding-top: 30px;
	padding-bottom: 0px;
	border: none;
}

.login-panel .panel-body {
	padding-top: 0px;
}

.login-panel {
	margin-bottom: 20px;
	background-color: transparent;
	border: 1px solid #dddddd;
	border-radius: 4px;
	-webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	box-shadow: 0 1px 1px rgba(0, 0, 0, .05);
	display: none;
}

/****
Navigation
*****/

.main-nav {
	background-color: #232B2D;
	border-radius: 0px;
	margin-bottom: 0px;
}

.navbar-brand {
	height: auto;
	padding-top: 10px;
	padding-bottom: 10px;
}

.logo {
	height: 45px;
	width: auto;
}

.nav-user-avatar {
	margin-right: 12px;
}

nav.main-nav .nav li a {
	font-family: 'Maven Pro', sans-serif;
	font-weight: 500;
	font-size: 18px;
	color: #768184;
	padding: 23px 18px;
}

nav.main-nav .nav li.active a {
	background: transparent;
}

nav.main-nav .nav li.active a:hover, nav.main-nav .navbar-right li.open a.dropdown-toggle {
	background-color: #21292B;
}

nav.main-nav .navbar-right li a {
	padding: 10px 15px 13px;
}

.search-form {
	padding-top: 15px;
	padding-right: 20px;
}

.header-search {
	background: url('../img/search-icon.png') no-repeat 8% center #313B3D;
	border: none;
	padding: 8px 12px;
	border-radius: 8px;
	-moz-border-radius: 8px;
	-webkit-border-radius: 8px;
	-ms-border-radius: 8px;
	-o-border-radius: 8px;
	color: #ffffff;
	font-family: 'Maven Pro', sans-serif;
}

.header-search:focus {
	outline: none;
}

.nav ul.dropdown-menu li a {
	padding-top: 12px;
	padding-bottom: 12px;
}

/****
Sidebar Nav
*****/


.sidebar-nav li a {
	font-size: 18px;
	font-family: 'Maven Pro', sans-serif;
	font-weight: 500;
	color: #394345;
	padding: 8px 10px;
}

.sidebar-nav li.active a, .sidebar-nav li.active a .fa, .sidebar-nav li.active a:hover {
	background-color: #78C8CE;
	color: #ffffff;
}

.sidebar-nav li a .fa {
	color: #95A2A6;
}

.sidebar-nav li .submenu {
	display: none;
}

.sidebar-nav li.active .submenu {
	display: block;
}

.sidebar-nav li.active .submenu li a {
	display: block;
	padding-left: 40px;
	background-color: transparent;
	color: #95A2A6;
}

.sidebar-nav li.active .submenu li a:hover, .sidebar-nav li.active .submenu li.active a{
	color: #78C8CE;
}

/******
Thumbnail Panels
*******/

.thumbnail {
	padding: 0px;
}

.thumbnail .caption {
	padding: 40px 12px 12px;
	position: relative;
}

.thumbnail .caption .thumbnail-user {
	position: absolute;
	top: -40px;
	vertical-align: bottom;
}

.thumbnail .caption .thumbnail-user img {
	margin-bottom: 35px;
}

.thumbnail .caption .thumbnail-user .username {
	padding-left: 10px;
	padding-top: 40px;
	display: inline-block;
}

.thumbnail .caption p {
	color: #95A2A6;
}

/********
Messages
********/
.list-group-item:first-child {border-top-right-radius: 0px;border-top-left-radius: 0px;}
.list-group-item:last-child {border-bottom-right-radius: 0px;border-bottom-left-radius: 0px;}
.list-group .checkbox { display: inline-block;margin: 0px; }
.list-group input[type="checkbox"]{ margin-top: 2px; }
.list-group .glyphicon { margin-right:5px; }
.list-group .glyphicon:hover { color:#FFBC00; }
a.list-group-item.read { color: #222;background-color: #F3F3F3; }
hr { margin-top: 5px;margin-bottom: 10px; }

.name {
	font-family: 'Maven Pro';
	font-weight: 700;
	font-size: 18px;
	padding-right: 20px;
}

.read-message {
	background: #fafafa;
}

.message-content {
	margin-bottom: 30px;
}

.message-alert {
	display: none;
}

/******
Profile Page
*******/
.fb-profile img.fb-image-lg{
    z-index: 0;
    width: 100%;  
    margin-bottom: 10px;
}

.fb-image-profile
{
    margin: -90px 10px 0px 50px;
    z-index: 9;
    width: 20%; 
}

/******
Alerts
*******/

.alert-header, .form-result {
	border-radius: 0px!important;
	-moz-border-radius: 0px!important;
	-webkit-border-radius: 0px!important;
	-o-border-radius: 0px!important;
	-ms-border-radius: 0px!important;
	text-align: center;
	color: #ffffff;
	padding-right: 0px;
	padding-left: 0px;
	border: none;
	font-family: 'Maven Pro', sans-serif;
}

.alert-header a, .form-result a {
	color: #ffffff;
	text-decoration: underline;
}

.alert-header a.btn {
	text-decoration: none;
}

.alert-warning {
	background-color: #FA7252;
}

.alert-success {
	background-color: #7ED321;
}

.alert-danger {
	background-color: #DF0621;
}

.alert-info {
	background-color: #78C8CE;
	color: #ffffff;
}

/****
Tables
*****/

#user-table td {
	padding-top: 14px;
	padding-bottom: 14px;
}

#user-table td.user-status-row {
	padding-top: 8px;
}

.user-table-row .user-actions {
	padding-top: 8px;
}

.user-table-row .user-actions i {
	color: #95A2A6;
	font-size: 18px;
	padding: 0px 5px;
}

.user-table-row .user-actions i.fa-trash:hover {
	color: #DF0621;
}

/****
Pagination
****/

ul.pagination li a {
	color: #95A2A6;
}

ul.pagination li a.current {
	background-color: #78C8CE;
	color: #ffffff;
}

/*****
Forms
*****/
.admin-form .input-group {
	border-left: none;
	border-top: none;
	border-right: none;
}

.admin-form input.edit-input-lg {
	border-bottom: 1px solid #dedede;
	border-radius: 0px;
	box-shadow: none;
	padding-left: 0px;
	font-size: 26px;
	font-weight: 500;
	height: 44px;
	color: #95A2A6;
	position: relative;
}

.admin-form input.edit-input {
	border-bottom: 1px solid #dedede;
	border-radius: 0px;
	box-shadow: none;
	padding-left: 0px;
	font-size: 18px;
	font-weight: 500;
	height: 38px;
	color: #95A2A6;
	position: relative;
}

.admin-form .input-group i {
	color: #95A2A6;
}

.admin-form .input-group input.edit-input-lg, .admin-form .input-group input.edit-input {
	border: none!important;
}

input.edit-input:after {
	position: absolute;
	right: 10px;
	bottom: 10px;
	height: 100px;
	width: 100px;
	display: block;
	content: "";
	background: #000000;
	z-index: 3;
}

input[type="text"]::-webkit-input-placeholder, input[type="email"]::-webkit-input-placeholder, input[type="password"]::-webkit-input-placeholder {
   color: #cccccc;
}

input[type="text"]:-moz-placeholder, input[type="email"]:-moz-placeholder, input[type="password"]:-moz-placeholder { /* Firefox 18- */
   color: #cccccc;  
}

input[type="text"]::-moz-placeholder, input[type="email"]:-moz-placeholder, input[type="password"]:-moz-placeholder {  /* Firefox 19+ */
   color: #cccccc; 
}

input[type="text"]:-ms-input-placeholder, input[type="email"]:-moz-placeholder, input[type="password"]:-moz-placeholder {  
   color: #cccccc;  
}

input[type="text"]:focus, input[type="email"]:focus, input[type="password"]:focus {
	box-shadow: none;
	border-color: #dedede;
}

.radio-label {
	margin-right: 10px;
}

.radio {
    padding-left: 20px; }
.radio label {
    display: inline-block;
    position: relative;
    padding-left: 5px; }
.radio label::before {
    content: "";
    display: inline-block;
    position: absolute;
    width: 17px;
    height: 17px;
    left: 0;
    margin-left: -20px;
    border: 1px solid #cccccc;
    border-radius: 50%;
    background-color: #fff;
    -webkit-transition: border 0.15s ease-in-out;
    -o-transition: border 0.15s ease-in-out;
    transition: border 0.15s ease-in-out; }
.radio label::after {
    display: inline-block;
    position: absolute;
    content: " ";
    width: 11px;
    height: 11px;
    left: 3px;
    top: 3px;
    margin-left: -20px;
    border-radius: 50%;
    background-color: #555555;
    -webkit-transform: scale(0, 0);
    -ms-transform: scale(0, 0);
    -o-transform: scale(0, 0);
    transform: scale(0, 0);
    -webkit-transition: -webkit-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -moz-transition: -moz-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    -o-transition: -o-transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33);
    transition: transform 0.1s cubic-bezier(0.8, -0.33, 0.2, 1.33); }
.radio input[type="radio"] {
    opacity: 0;
    z-index: 1; }
.radio input[type="radio"]:focus + label::before {
    outline: thin dotted;
    outline: 5px auto -webkit-focus-ring-color;
    outline-offset: -2px; }
.radio input[type="radio"]:checked + label::after {
    -webkit-transform: scale(1, 1);
    -ms-transform: scale(1, 1);
    -o-transform: scale(1, 1);
    transform: scale(1, 1); }
.radio input[type="radio"]:disabled + label {
    opacity: 0.65; }
.radio input[type="radio"]:disabled + label::before {
    cursor: not-allowed; }
.radio.radio-inline {
    margin-top: 0; }
.radio.radio-single label {
    height: 17px; }
.radio-info input[type="radio"] + label::after {
    background-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::before {
    border-color: #5bc0de; }
.radio-info input[type="radio"]:checked + label::after {
    background-color: #5bc0de; }

#user_accountmanagerdata {
	display: none;
}

/******
Panels
******/

aside .panel-heading {
	background-color: #78C8CE!important;
	vertical-align: middle;
}

aside .panel-heading h4 {
	color: #ffffff;
}

aside .panel-heading h4 i.stack-bg {
	color: #65AFB5;
	font-size: 32px;
}

aside .panel-heading h4 i {
	color: #78C8CE;
	font-size: 12px;
}

aside .panel-heading .heading-text {
	margin-top: 8px;
}

aside .panel-body {
	padding-bottom: 0px;
}

/****
Modal
*****/

.modal-backdrop {
	background-color: #ffffff;
}

.modal-backdrop.in {
	opacity: 1;
}

.modal-dialog {
	margin-top: 100px;
}

.modal-content {
	padding: 30px;
	background-color: #ffffff;
	border-radius: 0px;
	width: 100%;
	box-shadow: none;
	border:none;
}

.modal-content h2 {
	margin-top: 0px;
	border-bottom: 1px solid #dedede;
	padding-bottom: 15px;
}

.modal-content input {
	border-left: none;
	border-top: none;
	border-right: none;
	border-bottom: 1px solid #dedede;
	border-radius: 0px;
	box-shadow: none;
	padding-left: 0px;
	font-size: 42px;
	font-weight: 700;
	height: 58px;
}

.modal-content input::-webkit-input-placeholder {
   color: #cccccc;
}

.modal-content input:-moz-placeholder { /* Firefox 18- */
   color: #cccccc;  
}

.modal-content input::-moz-placeholder {  /* Firefox 19+ */
   color: #cccccc; 
}

.modal-content input:-ms-input-placeholder {  
   color: #cccccc;  
}

.modal-content input:focus {
	box-shadow: none;
	border-color: #dedede;
}

.modal-dismiss {
	position: absolute;
	top: 10px;
	right: 10px;
	display: block;
	width: 40px;
	height: 40px;
	z-index: 2000;
	color: #686868;
}


.modal-dismiss .fa-circle {
	color: #ED4337;
}

.modal-bottom {
	position: absolute;
	width: 100%;
	height: 30px;
	bottom: 30px;
	text-align: center;
}

.modal-bottom small {
	padding: 20px 30px;
	border-top: 1px solid #eeeeee;
}
